{% load static %}

{% block title %}
    <title>Enter your email address</title>
{% endblock %}

{% block stylesheet %}
<!--	<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">-->
<!--	<link rel="stylesheet" type="text/css" href="{% static 'password_reset.css' %}">-->
{% endblock %}
{% block product_page %}
	<form method="POST" class="form_container">
		{% csrf_token %}
		<h2 style="text-align: center;">Reset password</h2>

		<div class="reset_mail_container">
			<input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true">
			<button class="email_reset_button" type="submit">Send mail</button>
		</div>
	</form>
{% endblock %}